[mysqld]

# === Required Settings ===
basedir                         = /usr
#bind_address                   = 0.0.0.0 # Change to 0.0.0.0 to allow remote connections
datadir                         = /var/lib/mysql
#default_authentication_plugin  = mysql_native_password
max_allowed_packet              = 1024M
max_connect_errors              = 1000000
pid_file                        = /var/run/mysqld/mysqld.pid
port                            = 3306
skip_external_locking           = 1
skip_name_resolve
socket                          = /var/run/mysqld/mysqld.sock
tmpdir                          = /tmp
user                            = mysql

# === Charset and Collation ===
character_set_server            = utf8mb4
init_connect                    = 'SET NAMES utf8mb4'
collation_server                = utf8mb4_unicode_ci

# === Connection Settings ===
max_connections                 = 1024
back_log                        = 1024
thread_cache_size               = 128
thread_stack                    = 192K
interactive_timeout             = 180
wait_timeout                    = 180

# === Caches / Limits ===
tmp_table_size                  = 128M
read_buffer_size                = 2M
sort_buffer_size                = 4M
thread_cache_size               = 128
join_buffer_size                = 10M
max_heap_table_size             = 128M
read_rnd_buffer_size            = 1M

# === Laravel Performance ===
key_buffer_size                 = 1024
query_cache_size                = 64M
innodb_buffer_pool_size         = 1G

# === Error & Slow Query Logging ===
log_error                       = /var/lib/mysql/mysql_error.log
log_queries_not_using_indexes   = 0     # Disabled on production
long_query_time                 = 5
slow_query_log                  = 0     # Disabled on production
slow_query_log_file             = /var/lib/mysql/mysql_slow.log

[mysqldump]
# Variable reference
# For MySQL 5.7+:  https://dev.mysql.com/doc/refman/5.7/en/mysqldump.html
# For MariaDB:     https://mariadb.com/kb/en/library/mysqldump/
quick
quote_names
